#circle {
    width: 20em;
    height: 20em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #FFFFFF;

    border-style:solid;
    border-color: dodgerblue;
    border-width: 5px ;
    margin: auto;
}

#circle-text{
    align-content: center;
    text-align: center;
    margin-top: 35%
}

.pinline{
    font-size: 30px;
    color: black;
    margin: 0 auto;
    text-align: center;
    line-height: 1.25em;
}
.panel:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.undertext{

}