<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>Acknowledgements</title>
</head>

<body>

{{>navbar}}

<div class="container">
    <div class="page-header" id="acknowledgements-banner">


    <h1>Acknowledgements</h1>
    <p class="lead">I get by with a little help from my friends.</p>

    </div>
</div>





</body>

{{>footer}}
