<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>Activity</title>
</head>

<body>
    {{>navbar}}
    <div class="container">
        <div class="page-header" id="activity-banner">
            <div class="row">
                <div class="col-md-10">
                    <h1>Activity</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
                            <li><a data-toggle="tab" href="#spectograph">Spectograph</a></li>
                            <li><a data-toggle="tab" href="#overview">Overview</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="summary" class="tab-pane fade in active">
                                <h3>Summary</h3>
                                <p>Some content.</p>
                            </div>
                            <div id="spectograph" class="tab-pane fade">
                                <h3>Specto Ecto Swedge</h3>
                                <p>Some content in menu 1.</p>
                            </div>
                            <div id="overview" class="tab-pane fade">
                                <h3>Overview</h3>
                                <p>Some content in menu 2.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{{>footer}}