<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>Activity</title>
</head>

<body>
    {{>navbar}}
    <div class="container">
        <div class="page-header" id="activity-banner">
            <div class="row">
                <div class="col-md-10">
                    <h1>Activity</h1>
                </div>
            </div>
        </div>
    </div>
</body>

{{>footer}}