<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>DUSA Dashboards</title>
</head>
<style>
    #circle {
        width: 20em;
        height: 20em;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background: #FFFFFF;

        border-style:solid;
        border-color: dodgerblue;
        border-width: 5px ;
        margin: 0 auto;
    }
    .pinline{
        font-size: 30px;
        color: black;
        margin: 0 auto;
        text-align: center;
        line-height: 1.25em;
    }

    .undertext{

    }

</style>

<body>

{{>navbar}}

<div class="container">
    <div class="page-header" id="dashboard-banner">
        <div class="row">
            <div class="col-md-12">
                <h1>Dashboard</h1>
                <p class="lead">Your data at a glance.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/activity" style="text-decoration: none;">
            <div class="panel panel-default" style="min-height: 40em; max-height: 40em;">
                <div class="panel-body">
                    <h5>YOYO Sales</h5>
                    <br>
                    <div id="circle">
                        <br>
                        <br>
                        <br>
                        <br>
                        <p id="transactionValue" class="pinline" style=" font-weight:bold;"></p>
                        <p class="pinline">this week</p>
                    </div>
                    <br>
                    <div style=" align:center;">

                        <p style="text-align: center; font-size: medium; "> vs. previous week</p>

                        <div style="text-align: center; font-size: larger; font-weight:bold;">
                            <span id="averageSpendTrend"></span>
                            <span id="previousTransactionValue" style="color: black">{{>valueTransactions}}</span>
                        </div>

                    </div>

                </div>
            </div> <!-- END WIDGET (YOYO SALES) -->
            </a> <!-- END LINK -->
        </div>
        <div class="col-md-4">
            <a href="/activity#venue-popularity-canvas" style="text-decoration: none">
                <div class="panel panel-default" style="min-height: 40em;">
                    <div class="panel-body">
                        <h5>Top 5 Venues</h5>
                        <br>
                        <canvas id="top5BarGraph" width="100" height="93"></canvas>
                        {{>top5BarGraph}}
                        <br>
                        <br>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="min-height: 40em; max-height: 40em">
                <div class="panel-body">
                    <h5>YOYO Transactions</h5>
                    <br>
                    <div id="circle">
                        <br>
                        <br>
                        <br>
                        <br>
                        <p id="numTransactions"class="pinline" style=" font-weight:bold;"> {{>numTransactions}}</p>
                        <p class="pinline">this week</p>
                    </div>
                    <br>
                    <div class="pinline" style="color:black; font-weight:bold;">
                        <span id="numTransactionsTrend"></span>
                        <span id="previousNumTransactions">{{>numTransactions}}</span>
                        <br>
                        <span>vs. previous week</span>

                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" style="min-height: 40em; max-height: 40em">
                <div class="panel-body">
                    <h5>Voucher Redemptions</h5>
                    <br>
                    <br>
                    <br>
                    <div style="margin-bottom: 5em">
                        <img style= "float:left; margin-right: -5em; width:10em; height:10em;" src="https://www.yoyowallet.com/assets/img/footer_mark.svg">
                        <div style="width:20em; float: right;">
                            <p class="pinline" id="numberRedemptions" style="color:black; font-weight:bold; text-align:center"> </p>
                            <p class="pinline" style="color:black"> redemptions</br>this week</p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div style="text-align: center">
                        <br>
                        <br>
                        <p class="pinline" style="color:black; font-weight:bold;" id="previousNumberRedemptions">{{>noRedemptions}}</p>
                        <p style="font-size: medium; "> vs. previous week</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="min-height: 40em; max-height: 40em">
                <div class="panel-body">
                    <h5>Average User Spend</h5>
                    <br>
                    <div id="circle">
                        <br>
                        <br>
                        <br>
                        <p id="averageSpend" class="pinline" style=" font-weight:bold;">{{>averageSpend}}</p>
                        <p class="pinline">per transaction this week</p>
                        <br>
                        <br>
                    </div>
                    <br>
                    <div style="width:250px; float: right;">
                        <p style="text-align: center; font-size: medium; "> vs Previous week</p>
                        <p class="pinline" style="color:black; font-weight:bold;" id="averageSpend2">{{>averageSpend}}</p>
                    </div>
                    <img id="averageSpendTrend" style="margin-top:10px; margin-left: 30px; width:50px; height:70px;" src=" ">
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="min-height: 40em; max-height: 40em">
                <div class="panel-body">
                    <h5>Busiest Times</h5>
                    <br>
                    <br>
                    <canvas id="busiestTimes" width="50" height="50"></canvas>
                    <br>
                    {{>busyTimes}}
                </div>
            </div>
        </div>

    </div>

</div>
</body>

{{>footer}}

