<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>DUSA Dashboards</title>
</head>

<body>
    {{>navbar}}
    <div class="container">
        <div class="page-header" id="dashboard-banner">
            <div class="row">
                <div class="col-md-10">
                    <h1>Dashboard</h1>
                    <p class="lead">Your data at a glance.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>YOYO Sales</h5>
                        <div id="circle"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Top 5 Venues</h5>
                        <canvas id="top5BarGraph" width="100" height="100"></canvas>
                        {{>top5BarGraph}}
                        <a href="/activity#summary"> See all locations </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>YOYO Transactions</h5>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Voucher Redemptions</h5>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Average User Spend</h5>
                        <canvas id="top5BarGraph" width="100" height="100"></canvas>
                        {{>top5BarGraph}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Busiest Times</h5>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

{{>footer}}

