<!DOCTYPE html>
<html lang="en">
<head>

    <!--
    HEADER TEMPLATE
    Stylesheet/JS calls can be made in the header or footer to prevent duplicates when loading each page.
    Other tags such as titles or metadata can be defined in the individual page templates.
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
