<!DOCTYPE html>
<html lang="en">
<head>

    <!--
    HEADER TEMPLATE
    Stylesheet/JS calls can be made in the header or footer to prevent duplicates when loading each page.
    Other tags such as titles or metadata can be defined in the individual page templates.
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="/js/lib/require.js"></script>

    <script>
        require.config({
            baseUrl: "/js/lib",
            waitSeconds: 15
        });
    </script>

    <script type="text/javascript">

        // Initial position on top of page
        if ( window.location.hash ) scroll(0,0);
        // Old browser error catch
        setTimeout( function() { scroll(0,0); }, 1);

        // any position
        $(function() {
            // your current click function
            $('.scroll').on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: $($(this).attr('href')).offset().top + 'px'
                }, 1000, 'swing');
            });
            // *only* if we have anchor on the url
            if(window.location.hash) {
                // smooth scroll to the anchor id
                $('html, body').animate({
                    scrollTop: $(window.location.hash).offset().top + 'px'
                }, 1000, 'swing');
            }
        });
    </script>

</head>
