<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>Herds</title>
    <style>
        /* Edit these to adjust chord diagram parameters. */
        .group-label {
            font: 10px inherit;
        }

        .group-tick line {
            stroke: #000;
        }

        .ribbons {
            fill-opacity: 0.67;
        }

        .chord-svg {

        }

        div.panel-body :below-level {
            width: inherit;
        }
    </style>
</head>

<body>

{{>navbar}}

<div class="container">
    <div class="page-header" id="dashboard-banner">
        <div class="row">

            <div class="col-md-10">
                <h1>Herds</h1>
                <p class="lead">See where your customers flock to.</p>
            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <h3>Meet the Herds</h3>
                    <p>A description of the user data sets we've programatically picked.</p>

                    <br>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="panel panel-default" style="min-height: 20em;">
                                <div class="panel-body">
                                    <h5>Customer Overlap</h5>
                                    <p>The distribution of DUSA customers can be shown by tracking individual user purchases at multiple locations.<br>
                                        Using this data, we can model the overlap between customers who use multiple DUSA venues each week, and plot the flow between said venues specifically.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel panel-default" style="min-height: 20em;">
                                <div class="panel-body">
                                    <h5>24 Hour View</h5>
                                    <p>By segmenting transactions by hour, we can view overall purchasing trends over the course of the day to identify when DUSA venues are at their busiest.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel panel-default" style="min-height: 20em;">
                                <div class="panel-body">
                                    <h5>Nightlife</h5>
                                    <p>Showing transactions across the course of the evening can show the peak times for DUSA's nightlife using YOYO.</p>
                                </div>
                            </div>
                        </div>

                    </div> <!-- END Description Row -->

                    <hr>

                    <div class="row">

                        <div class="col-md-12">

                            <h3> Flow of YOYO Transactions</h3>
                            <p>Chord diagrams showing the relationships between Yoyo customers and venues.</p>

                            <div class="panel panel-info">

                                <div class="panel-heading">
                                    <h3 class="panel-title"> <span class="glyphicon glyphicon-info-sign"></span> Chord Diagram Use</h3>
                                </div>

                                <div class="panel-body">
                                    You can interact with the chord diagrams below by hovering your mouse over the segments on the outside of the circle.<br>
                                    Ribbons/paths show the flow of users between segments, with the end representing flow to a segment from the other. <br>
                                    Customers are assigned to a venue based on where most of their transactions were recorded. <br>
                                </div>
                            </div>

                            <ul class="nav nav-tabs">

                                <li class="active"><a data-toggle="tab" href="#flow">Flow</a></li>
                                <li><a data-toggle="tab" href="#overlap">Overlap</a></li>

                            </ul>

                            <div class="panel-body">
                                <div class="tab-content" style="position: relative; width:80vw; margin:auto;">

                                    <div id="overlap" class="tab-pane fade">
                                        <!-- OVERLAP TAB -->

                                        <div class="col-md-12">

                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    The <b>Overlap</b> view shows relative customer overlap between venues over the latest week on record. <br>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="chord-svg-div" id="herds-chords-div">
                                            <svg class="chord-svg" id="herds-chords"></svg>
                                        </div>

                                    </div>

                                    <div id="flow" class="tab-pane fade in active">
                                        <!-- FLOW TAB -->

                                        <div class="col-md-12">

                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    The <b>Flow</b> view shows absolute customer movement between venues over the latest week on record.
                                                </div>
                                            </div>

                                        </div>

                                        <div class="chord-svg-div" id="herds-flows-div">
                                            <svg class="chord-svg" id="herds-flows"></svg>
                                        </div>

                                        <script src="/js/herdsChord.min.js"></script>

                                    </div>
                                </div>
                            </div>

                            <hr>

                        </div> <!-- END CHORD DIAGRAM ROW -->

                        <div class="row">
                            <div class="col-md-12">

                                <div class="panel-body" id="NightVsDay">
                                    <h3> Night vs Day</h3>
                                    <p>A radar plot representing the 24-hour day, showing the last week's transactions plotted to the clock.</p>

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"> <span class="glyphicon glyphicon-info-sign"></span> Radar Plot Use</h3>
                                        </div>
                                        <div class="panel-body">
                                            The radar plot below shows total transactions per 24 hours from the last week. <br>
                                            You can hover over the points on the plot to see futher details for each location. <br>
                                            The volumes of transactions for the academic night and day can be seen by looking at the top and bottom of the plot respectively.
                                        </div>
                                    </div>

                                    <canvas id="nightVsDay" width="100%" height="50"></canvas>
                                    {{>nightVsDay}}
                                    <br>

                                </div>
                            </div>
                        </div> <!-- END RADAR PLOT ROW -->

                        <hr>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="panel-body">
                                    <h3>Nightlife (Transactions)</h3>
                                    <p>A line graph showing the number of transactions by hour from 9pm to 3am, showing the peak times of campus nightlife.</p>

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"> <span class="glyphicon glyphicon-info-sign"></span> Nightlife Chart</h3>
                                        </div>
                                        <div class="panel-body">
                                            This chart shows transactions across the night from 9pm until 3am, giving an insight into how often Yoyo is used over the course of a night. <br>
                                            Data here is averaged from the last 7 days on record.
                                        </div>
                                    </div>

                                    <canvas id="9to3graph" width="100%" height="50"></canvas>

                                    {{>9to3graph}}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

{{>footer}}