<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>Herds</title>
    <style>
        /* Edit these to adjust chord diagram parameters. */
        .group-label {
            font: 10px inherit;
        }

        .group-tick line {
            stroke: #000;
        }

        .ribbons {
            fill-opacity: 0.67;
        }

        .chord-svg {

        }
    </style>
</head>

<body>
{{>navbar}}
<div class="container">
    <div class="page-header" id="dashboard-banner">
        <div class="row">
            <div class="col-md-10">
                <h1>Herds</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5> Tribes Definitions</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5> Flow of YOYO Transactions</h5>
                                    <p> Needs Explanation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5> Night vs Day</h5>
                                    <p> Needs Explanation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5> Do YOYO transactions increase from 9pm-3am? </h5>
                                    <p> Needs Explanation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                <h5> Flow of YOYO Transactions</h5>
                <!--<ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#view1">View 1</a></li>
                    <li><a data-toggle="tab" href="#view2">View 2</a></li>
                </ul>
                <div class="panel-body">
                    <div class="tab-content" style="position: relative; width:80vw; margin:auto;">
                        <div id="view1" class="tab-pane fade in active">
                            <p>The first shows proportions of people who go to A also go to B</p>
                            <svg class="chord-svg" id="herds-chords" width="80vw" height="80vh"></svg>
                        </div>
                        <div id="view2" class="tab-pane fade">
                            <p>The second shows hard numbers - people went from A -> B during a single academic day </p>
                            <svg class="chord-svg" id="herds-flows" width="80vw" height="80vh"></svg>
                            <script src="/js/herdsChord.min.js"></script>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5> Night vs Day</h5>
                    <canvas id="nightVsDay" width="100" height="93"></canvas>
                    {{>nightVsDay}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Do transactions increase from 9pm-3am? </h5>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{{>footer}}