<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>Herds</title>
    <style>

        body {
            font: 10px sans-serif;
        }

        .group-tick line {
            stroke: #000;
        }

        .ribbons {
            fill-opacity: 0.67;
        }

    </style>
</head>

<body>
{{>navbar}}
<div class="container">
    <div class="page-header" id="herds-banner">
        <div class="row">
            <div class="col-md-10">
                <h1>Herds</h1>
                <svg id="herds-chords" width="960" height="960"></svg>
                <script src="/js/herdsChord.js"></script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <h1>Flows</h1>
                <svg id="herds-flows" width="960" height="960"></svg>
            </div>
        </div>
    </div>
</div>
</body>

{{>footer}}