<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <title>DUSA Dashboards</title>

</head>
<body>

{{>navbar}}

<h1>Home Page</h1>

{{>footer}}

