<form action="/login" method="post">
    <label for="username-field">Staff ID:</label>
    <div class="form-group">
        <input autofocus id="username-field" type="text" class="form-control" name="syn-user" value="">
    </div>
    <label for="password-field">Password:</label>
    <div class="form-group">
        <input id="password-field" type="password" class="form-control" name="syn-password" value="">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Submit">
    </div>
</form>