<form action="/login" method="post">
    <p>Staff ID:</p>
    <div class="form-group">
        <input type="text" class="form-control" name="syn-user" value="">
    </div>
    <p>Password:</p>
    <div class="form-group">
        <input type="password" class="form-control" name="syn-password" value="">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Submit">
    </div>
</form>