{{>header}}

<head>
    <title>Login</title>
</head>

<body>

    {{>navbar}}

    <div class="container">
        <div class="page-header">

            <br>
            <br>
            <br>

            <p>
                You have been logged out.
            </p>
            <a class="btn btn-primary" href="/" role="button">Home</a>

        </div>





    </div>
</body>

{{>footer}}