<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>Loyalty</title>
</head>

<body>
{{>navbar}}
<div class="container">
    <div class="page-header" id="loyalty-banner">
        <div class="row">
            <div class="col-md-10">
                <h1>Loyalty</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default">

                <div class="panel-body">
                    <h5>Number of Transactions</h5>
                    <br>

                    <div id="circle" style="margin: auto">

                        <div id="circle-text">
                            <p class="pinline" id="numTransactions" style="font-weight:bold;"></p>
                            <p class="pinline">this week</p>
                        </div>

                    </div>

                    <br>

                    <div style=" align:center;">
                        <p style="text-align: center; font-size: medium; "> vs Previous week</p>

                        <div style="text-align: center; font-size: larger; font-weight:bold;">
                            <span id="transTrend"></span>
                            <span id="prevNumTrans" style="color: black">{{>loyaltyNumTransactions}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Value of Transactions</h5>
                    <br>

                    <div id="circle">

                        <div id="circle-text">
                            <p class="pinline" id="valueTransactions" style="font-weight:bold;"></p>
                            <p class="pinline">this week</p>
                        </div>
                    </div>

                    <br>

                    <div style="align:center;">
                        <p style="text-align: center; font-size: medium; "> vs Previous week</p>
                        <div style="text-align: center; font-size: larger; font-weight:bold;">
                            <span id="valTransTrend"></span>
                            <span id="previousValueTransactions" style="color: black">{{>loyaltyValueTransactions}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Average redemption value</h5>
                    <br>

                    <div id="circle">
                        <div id="circle-text">
                            <p id="averageSpend" class="pinline" style="font-weight:bold;"></p>
                            <p class="pinline">per redemption</p>
                        </div>
                    </div>

                    <br>

                    <div style="align:center;">
                        <p style="text-align: center; font-size: medium; "> vs Previous week</p>

                        <div style="text-align: center; font-size: larger; font-weight:bold;">
                            <span id="avgTrend"></span>
                            <span id="averageSpend2" style="color: black">{{>loyaltyAverageSpend}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h5 id="Redemptions" style="margin-bottom: 5vh">Number of Redemptions by Location For the Past Week</h5>
                    <canvas id="redemptions-by-location" style="width: 80vw; height: 80vh; max-height: 1500px"></canvas>
                    {{>redemptionsByLocation}}

                </div>
            </div>
        </div>
    </div>
</div>

</body>


{{>footer}}