<script src="/js/spectrograph.min.js"></script>
<style>
    svg {
        width: 100%;
    }
    .dt-label {
        font-size: x-small;
        text-anchor: left;
    }
</style>
<div id="spectrograph-explainer">
    <b>Legend: </b>
    <svg width="5em", height="20px" id="spectrogram-legend"></svg>

    <div class="row">
        <div class="col-md-2">
            <p class="text-left>">Low Activity</p>
        </div>
        <div class="col-md-8">

        </div>
        <div class="col-md-2">
            <p class="text-right">High Activity</p>
        </div>
    </div>
</div>

<hr>
<br>

<div id="spectrograph-host">
    <!-- DO NOT ADD CONTENT HERE! This section is filled by template rendering in spectrograph.js and is DESTROYED
         during every rebuild. -->
</div>