<!DOCTYPE html>
<html lang="en">

{{>header}}

<head>
    <title>Upload</title>
</head>

<body>
    {{>navbar}}
    <div class="container">
        <div class="page-header" id="upload-banner">
            <div class="row">
                <div class="col-md-10">
                    <h1>Upload</h1>
                </div>
            </div>
        </div>
    </div>

    <form method='post' enctype='multipart/form-data'>
        <input type='file' name='disbursal-file'>
        <button>Upload</button>"
    </form>
</body>

{{>footer}}

